# Logs and temp
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.pid
*.seed
*.pid.lock
*.bak
*.orig
*.tmp

# Diagnostic reports (https://nodejs.org/api/report.html)
report.*.json

# Coverage
coverage/
*.lcov
.nyc_output

# Build output
build/
dist/
out/
publish/
.svelte-kit/
.vite/
.vitepress/
.nuxt/
.next/
.vuepress/dist
.temp/

# Cache & intermediate storage
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_*/
.fusebox/
.docusaurus/
.serverless/
.dynamodb/
.web_modules/
.grunt/
bower_components/
jspm_packages/

# Dependency directories
node_modules/

# Lock/config/cache files
.lock-wscript
.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
*.tsbuildinfo
.eslintcache
.stylelintcache
.vscode/
.idea/
.vscode-test/

# Binary files
*.dll
*.exe
*.app
*.tgz

# Addons
build/Release/

# TypeScript
*.tsbuildinfo

# .NET artifacts
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db

# Secret/config files
.env
.env.*
secrets.json
appsettings.Development.json
appsettings.Local.json

# OS files
.DS_Store
Thumbs.db

# Optional
.node_repl_history
.tern-port
